/*
.card {}	Componente contenedor
.card .pan {}	Número de tarjeta
.card .pan .copy-icon {}	Botón para copiar
.card .name {}	Titular de la tarjeta
.card .expiration-date {}	Fecha de expiración
.card .security-code {}	Código de seguridad
.card .cvv_expiration_time {}	Tiempo de validez para dCVV
.card .pin {}	Número de PIN
*/

/* === TARJETA === */
.card {
	width: 100%;
	max-width: 25rem;
	height: auto; /* libera la altura para que la calcule aspect-ratio */
	max-height: none; /* evita tope que deforme */
	aspect-ratio: 1.7 / 1; /* mantiene proporción visual */
	background: #23245c;
	border-radius: 2rem;
	color: #ffffff !important;
	font-family: 'Inter', sans-serif;
	box-shadow: none;
	overflow: hidden;
}

/* === Logos === */
.card::before {
	content: '';
	position: absolute;
	inset: 0; /* top:0; right:0; bottom:0; left:0 */
	pointer-events: none; /* que no bloquee clicks */
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-image: url('https://prod.moneygiver.xyz/documents/Icono-money-giver.svg'),
		/* izq/arriba */ url('https://prod.moneygiver.xyz/documents/Mastercard.svg'),
		/* der/arriba */ url('https://prod.moneygiver.xyz/documents/card_chip.png'); /* der/abajo */
	background-size: 10% 20%, 22% 20%, 7% 10%;
	background-position: 8% 10%, right 4% top 10%, right 8% bottom 10%;
}

/* === Número de tarjeta === */
.card .pan {
	font-size: clamp(1.1rem, 2vw, 1.5rem);
	letter-spacing: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: inherit;
	margin: 0;
}

.card .pan .copy-icon {
	font-size: clamp(1rem, 2vw, 1.2rem);
	color: #9ba3ff;
	cursor: pointer;
	transition: color 0.3s;
}

.card .pan .copy-icon:hover {
	color: #fff;
}

/* === Titular === */
.card .name {
	font-size: clamp(0.9rem, 2vw, 1.1rem);
	font-weight: 500;
	word-break: break-word;
	color: inherit;
	margin: 0 0 0.5rem 0;
}

/* === Fecha y CVV === */
.card .exp-code-container {
	justify-content: flex-start;
	gap: 1rem;
	align-items: flex-start;
	padding-bottom: 2rem;
}

.card .cvv-expiration-time {
	display: flex;
	gap: 0.65rem;
	color: inherit;
	margin: 0 0 0 1.2rem;
}

.card .expiration-date,
.card .security-code {
	opacity: 0.9;
	color: inherit;
}

/* === PIN === */
.card .pin {
	justify-content: flex-start;
	color: inherit;
}

.card .pin::before {
	content: 'PIN:';
	padding-right: 0.3rem;
}

/* === RESPONSIVE: móviles === */
@media (max-width: 220px) {
	.card .pan {
		font-size: 0.8rem;
	}

	.card .pan .copy-icon {
		font-size: clamp(1rem, 2vw, 1.2rem);
		color: #9ba3ff;
		cursor: pointer;
		transition: color 0.3s;
	}

	.card .name {
		font-size: 0.7rem;
	}

	.card .expiration-date,
	.card .security-code,
	.card .cvv-expiration-time {
		font-size: 0.75rem;
	}
}
