/*
.card { ... }	Componente contenedor
.card .pan {}	Número de tarjeta
.card .pan .copy-icon {}	Botón para copiar
.card .name {}	Titular de la tarjeta
.card .expiration-date {}	Fecha de expiración
.card .security-code {}	Código de seguridad
.card .cvv-expiration-time {}	Tiempo de validez para dCVV
.card .pin {}	Número de Pin
*/

.card .pan {
  color: #FFFFFF !important;
}
.card .pan .copy-icon {
  color: #FFFFFF !important;
}
.card .name {
  color: #FFFFFF !important;
}
.card .expiration-date {
  color: #FFFFFF !important;
}
.card .security-code {
  color: #FFFFFF !important;
}
.card .cvv-expiration-time {
  color: #A6AAD0 !important;
}
.card .pin {
  color: #FFFFFF !important;
}
